body {
    color: #212121;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

.logo {
    color: #2196F3;
}

/* site-nav */

.site-nav. a {
    color: #212121;
}
.site-nav. link:hover,
.site-nav. link:focus {
    color: #2196F3;
}
/* section */

.sectoin-title {
    color: #212121 ;
}

/* Feature */
.feature-list .title {
    color: #212121;
}
/* основной цвет текста #212121 */

/* вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */
